.body {
  background-color: #19A6FF;
  display: block;
  width: 600px;
  margin: 0 auto;
}
.questions {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  text-align: center;
}

p {
  font-family: 'Arimo', sans-serif;
  font-size: 1.1em;
}
