* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: #929CB3;
  display: block;
}

/* Navigation Styles */

nav {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 20px 20px;
}

nav a {
  margin: 0 20px 0 20px;
}

nav a:hover {

}

.page {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

h2, h3, p, li {
  color: #1B2334;
}
.banner {
  background-color: #1B2334;
  padding-bottom: 20px;
}
h1 {
  color: #ccc;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 4.5em;
  font-weight: 700;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top:60px;
}

/* h3 used for the bio paragraph */
h3 {
  font-family: 'Domine', serif;
  font-size: 1.05em;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 2;
}

p {
  font-family: 'Domine', serif;
  font-size: 1em;
  font-weight: 700;
  padding-bottom: 10px;
}

/* list styles*/
ul {
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

li {
  font-family: 'Domine', serif;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
}
